*
!.gitignore
!package.json
!LICENSE
# !webpack.config.js
!index.html
!logo-bamf.png
!logo-bamf.svg
!README.md
!.gitlab-ci.yml
!src
!docs
!dist
!tests
!src/**/*
!docs/**/*
!tests/**/*
docs/app.js
docs/index.html
docs/style.css
docs/vendors~app.js
docs/vendors~unrar.js
docs/vendors~jszip.js
