@import "variables.scss";

#header {
  align-items: stretch;
  background: var(--grey-dark);
  position: absolute;
  z-index: 1000;
  /*transition: .3s all ease-in-out;*/

  top: -50px;
  height: 0vh;
  width: 100vw;

  &:before {
    background: var(--grey-dark);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--light);
    cursor: pointer;
    content: '\25be';
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    padding: 0 0.5rem 0.2rem;
    position: absolute;
    transform: translateX(-50%);

    z-index: 2000;
    height: 30px;
    top: 50px;
    left: 1%;
  }

  &:hover{
    height: 55px;
    top: 0px;
  }
}

#panel {
  position    : absolute;
  margin-left : 50px;
  padding-left: 25px;
  background-color: var(--white);
  width       : 90vw;
  height      : 45px;
  bottom      : 5px;
}

#dropzone {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  transition: 0.2s all ease-in-out;
  background-color: var(--grey-dark);

  &:hover {
    background-color: var(--purple);
  }
}

input#file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

label#msg {
  color: var(--light);
  cursor: pointer;
  font-size: 2em;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
}

.active {
  box-shadow: inset 0 0 10px 10px #000;
}
