section {
  /*height: 100%;*/
  overflow: hidden;

  & img {
    width: 100vw;
    /*max-width: 980px;*/
    transition: 0.2s all ease-in-out;
  }
}

.carousel {
  display: flex;
  overflow: auto hidden;
  height: 100vh;
  width: inherit;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  /*width: 100vw;*/
  /*height: 100%;*/
  /*overflow-y: auto;*/
  flex-shrink: 0;
  text-align: center;
}

/*
.adapt img {
  max-width: 100%;
  height: 100%;
  width: auto;
}
*/

.full_height {
    width : auto;
    height: 100vh;
}

.full_width {
    width : 100vw;
    height: auto;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100vh;
}
